<div class="dropdown dropdown-end">
  <%= header %>
  <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
    <% items.each do |item| %>
    <%= item %>
    <% end %>
  </ul>
</div>